#parse("common.vm")
package $data.getPackageName();
#set($name = $data.getClassName())
#set($entityName = $data.getEntityName())
#set($entityAliasName = $data.getEntityAliasName())
/// ***********************import begin***********************
#if($data.getDefImportContent() == "")
import java.util.List;
import java.util.Map;

import com.tom.util.page.PageControlInfo;
#foreach($import in $data.getImportList())
import $import;
#end
#else
$data.getDefImportContent()
#end

/// ***********************import end*************************

public interface $name$sfxService{

   /**
    * 保存返回主键
    * @param $entityAliasName 实体
    * @return Long
    */
   ${tableBean.getPkeyType()} save($entityName $entityAliasName);

   /**
    * 修改
    * @param $entityAliasName	实体
    * @return boolean(true:成功, false:失败)
    */
   boolean update($entityName $entityAliasName);
   
   /**
    * 根据主键获取实体
    * @param id	主键
    * @return $name
    */
   $entityName load(${tableBean.getPkeyType()} ${tableBean.getPkeyFirstLower()});

   /**
    * 根据条件获取实体
    * @param $entityAliasName   实体
    * @return $name
    */
   $entityName load($entityName $entityAliasName);
   
   /**
    * 根据条件获取数量
    * @param $entityAliasName	实体
    * @return Integer
    */
   Integer loadCount($entityName $entityAliasName);

   /**
    * 根据条件检查是否存在
    * @param $entityAliasName	实体
    * @return boolean(true:存在; false:不存在)
    */
   boolean isExist($entityName $entityAliasName);

}
