#set($table = $data.getDataName())

DROP TABLE IF EXISTS $table;
CREATE TABLE $table (
#foreach($field in $data.getFieldList())
#if($field.getIsPk() =="Y")
   $field.getDataName()  $field.getDbDataType()($field.getDataLength()) NOT NULL  COMMENT '$field.getLabel()$field.getNote()',
#elseif($field.getDbDataType() == "timestamp")
   $field.getDataName() timestamp NULL COMMENT '$field.getLabel()',
#elseif($field.getTypeCd()=="R")
   $field.getDataName() $field.getDbDataType()#if($field.getDataLength() !='')($field.getDataLength())#end #if($field.getIsNull() == "N") NOT NULL #elseif($field.getDefaultValue() != "") DEFAULT '$field.getDefaultValue()' #else DEFAULT NULL #end
COMMENT '$field.getLabel()$field.getNote()',
#end
#end
   PRIMARY KEY (`$tableBean.getPkey()`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;

#foreach($field in $data.getFieldList())
#if($field.getIsUnique() =="Y")
ALTER TABLE $table DROP INDEX `UK_$field.getDataName()`;
CREATE UNIQUE INDEX `UK_$field.getDataName()` ON $table(`$field.getDataName()`);
#end
#end

#if($tableBean.getLinkUnique() != "")
ALTER TABLE $table DROP INDEX `uk_link_$table`;
CREATE UNIQUE INDEX `uk_link_$table` ON $table($tableBean.getLinkUnique());
#end



-- Create table
create table ACT_BD_RED_USER
(
  id              NUMBER not null,
  code            VARCHAR2(50),
  user_id         VARCHAR2(50),
  user_no         VARCHAR2(50),
  card_no         VARCHAR2(50),
  card_code       VARCHAR2(100),
  money           VARCHAR2(30),
  bd_type         VARCHAR2(10),
  bd_create_time  TIMESTAMP(6),
  surplus         NUMBER,
  is_win          NUMBER,
  win_create_time TIMESTAMP(6)
)
tablespace WXAPP1_DATA
  pctfree 10
  initrans 1
  maxtrans 255;
-- Create/Recreate primary, unique and foreign key constraints 
alter table ACT_BD_RED_USER
  add constraint BD_RED_USER_PK primary key (ID)
  using index 
  tablespace WXAPP1_DATA
  pctfree 10
  initrans 2
  maxtrans 255;
alter table ACT_BD_RED_USER
  add constraint BD_RED_USER_UNIQUE unique (USER_ID, USER_NO)
  using index 
  tablespace WXAPP1_DATA
  pctfree 10
  initrans 2
  maxtrans 255;
